.container {
  min-width: 400px;
  flex-grow: 1;
  color: #616872;
}
.dropdown_list {
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  li {
    list-style: none;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    &:hover {
      background-color: #f2f4ff;
      color: #7c8bcc;
    }
  }
}
.isSelected {
  background-color: #f2f4ff;
  color: #7c8bcc;
}
.maxHeight {
  border: 1px solid #ededed;
  max-height: 10rem;
  overflow: scroll;
  transition: max-height 0.15s ease-out;
}
.minHeight {
  border: 1px solid transparent;
  max-height: 0;
  transition: max-height 0.1s ease-out;
}

.dropDownContainer {
  border-radius: 0.3125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  cursor: pointer;
  row-gap: 2rem;
  background: white;

  &:hover {
    border: 1px solid blue;
  }

  .arrow {
    width: 1.25rem;
    transition: all 300ms;
    display: flex;
    align-items: center;
    justify-content: center;
    path {
      stroke: #7c8bcc;
    }
  }
  .arrowActive {
    transform: rotate(180deg);
  }
}
.crypto_scroll {
  max-height: 15.7rem;
}
.dropDownActive {
  border: 1px solid #7381b3;
  box-shadow: 0px 0px 1px 4px #d7def8;
}

.notActive {
  border: 1px solid #e3e7ef;
}
